@import '@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'Symphonia Sans';
  src: url(./assets/SymphoniaSans-Regular.ttf);
}


body {
  background-color: #183742;
  color: #ffffff;
  font-size: 16;
  font-family: 'Symphonia Sans';
  font-weight: 30;
}
.highlight{
  color: #dfb180
}
.descCollum {
  width: 20em;
}

.arteInfo {
  max-width: 20em;
  text-align: right;
}
.hr {
	color: #646464;
}
.equip {
  text-align: right;
  float: right;
}
.special {
  text-align: right;
  float: right;
}
table,
tr,
td,
th {
  padding: 0px 4px 0px 0px;
  border-spacing: 0px;
}
td,
td > a {
  vertical-align: top;
}
table.element td {
  text-align: center;
  padding: 0px 8px 0px 8px;
  border-spacing: 0px;
}
#content {
  text-align: center;
}
#content table {
  margin-left: auto;
  margin-right: auto;
}
#footer {
  text-align: center;
  font-size: 20;
  margin-top: 24px;
  clear: both;
}
#search {
  text-align: center;
  margin-top: 8px;
}
form {
  margin: 0;
}
