@import '@fortawesome/fontawesome-free/css/all.css';

body {
  background-color: #183742;
  color: #ffffff;
  font-size: 16;
  font-family: sans-serif
}
.itemname {
  color: #ffffff;
  font-size: 20;
}
.itemdesc {
}
.highlight, hr {
  color: #dfb180
}
.equip {
  text-align: right;
  float: right;
}
.special {
  text-align: right;
  float: right;
}
table,
tr,
td,
th {
  padding: 0px 4px 0px 0px;
  border-spacing: 0px;
}
td,
td > a {
  vertical-align: top;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #ffebd2;
}
table.element {
  display: inline-block;
}
table.element td {
  text-align: center;
  padding: 0px 8px 0px 8px;
  border-spacing: 0px;
}
table.synopsis {
  margin: 0px auto;
}
table.synopsis td {
  padding: 0px 10px 0px 10px;
  border-spacing: 10px;
}
.synopsistitle {
  text-align: center;
  color: #ffebd2;
  font-size: 20;
}
#footer_time {
  display: none;
}
#header-name {
  text-align: center;
}
#topmenu {
  text-align: center;
  font-size: 22;
}
#content {
  text-align: center;
}
#content table {
  margin-left: auto;
  margin-right: auto;
}
#footer {
  text-align: center;
  font-size: 20;
  margin-top: 24px;
  clear: both;
}
#search {
  text-align: center;
  margin-top: 8px;
}
form {
  margin: 0;
}
